html, body, div#root {
  height: 100%;
}

.secondary-text {
  color: #abbcd5;
}

.mb-2 {
  margin-bottom: 1.25em;
}

.mt-1 {
  margin-top: 0.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.cloth-display {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e5ea;
  user-select: none;
}

.cloth-side-active {
  background-color: #0984e3 !important;
}

.cloth-side-active p small {
  color: white;
}

.color-display-active {
  background-color: #0984e3 !important;
}

.color-display-active p {
  color: white !important;
}

.text-center {
  text-align: center;
}

.clickable-panel {
  cursor: pointer;
  transition: .25s ease-in-out;
  user-select: none;
}